.home {
    margin: 0;
    display:flex;
    flex-direction: column ;
    justify-content: space-around;
  }
  
  .top {
    display: flex;
    flex-direction: row;
  }
  
  .topLeft {
    height: 600px;
    width: 500px;

    margin-left: 100px;
  } 

  .topMiddle {
    height: 600px;
    width: 500px;
  
    margin-left: 100px;
  }

  .citation-card {
    height: 350px;
    width: 700px;

    text-align: center;
    align-items: center;
  }
  
  .bottom {
    height: 600px;
    width: 1500px;
  
    margin: 0 auto;
    margin-top: 200px;
    padding: 2%;
  }
  
  .profilePicutre {
    height: 400px;
    widows: auto;
    margin-bottom: 60px;
  }
  
  .EtnaPicture {
    width: 100px;
    height: auto;
  }
  
  .etna-space {
    padding-top: 3px;
    padding-left: 20px;
    background-color: white;
    width: 130px;
    height: 35px;
  }
  
  .logo {
    height: 100px;
    width: 100px;
  }
  
  video {
    width: 400px;
    height: auto;
  }

  .name {
    color: white;
    font-size: 50px;
  }
  
  h3 {
    color: white;
    font-size: 20px;
  }

  h4 {
    text-align: center;
    font-size: 25px;
    display: none;
  }

  p {
    margin: 25px;
  }
  
  .competences {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .comp {
    width: 250px;
    height: 150px;
    padding: 10px;
  
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.392);
    background: -webkit-linear-gradient(to left, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #243B55, #141e3098); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.371);

    border-radius: 10px;
    cursor: pointer;
  }
  
  .comp:hover {
    transition-duration: 0.5s;
    background: white;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.392);
    
    width: 300px;
    height: 450px;
  }
  
  .comp:hover .logo{
    display: none;
  }
  
  .comp:hover h4{
    animation-duration: 0.5s;
    display: block;
  }

  .comp-cont {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .comp-txt {
    color: white;
    display: flex;
    padding-left: 0px;
  }

  .line {
    width: 20px;
    height: 5px;
    background-color: white;
    position: relative;
    animation: infinite;
    animation-name: move-line;
    animation-duration: 4s;
  }

  hr {
    display: none;
    width: 240px;
  }

  progress {
    margin-top: 50px;
    width: 240px;
  }
  
  .p-html {
    display: none;
  }

  .html-lvl {
    display: none;
  }
  
  #btn-html:hover .p-html{
    display: block;
  }
  
  #btn-html:hover .html-lvl{
    display: block;
  }
  
  #btn-html:hover .html-hr{
    display: block;
  }

  .p-css {
    display: none;
  }

  .css-lvl {
    display: none;
  }
  
  #btn-css:hover .p-css {
    display: block;
  }
  
  #btn-css:hover .css-lvl{
    display: block;
  }
  
  #btn-css:hover .css-hr{
    display: block;
  }
  
  .p-js {
    display: none;
  }

  .js-lvl {
    display: none;
  }
  
  #btn-js:hover .p-js {
    display: block;
  }
  
  #btn-js:hover .js-lvl{
    display: block;
  }
  
  #btn-js:hover .js-hr{
    display: block;
  }
  
  .p-php {
    display: none;
  }

  .php-lvl {
    display: none;
  }
  
  #btn-php:hover .p-php {
    display: block;
  }
  
  #btn-php:hover .php-lvl{
    display: block;
  }
  
  #btn-php:hover .php-hr{
    display: block;
  }
  
  .p-sql {
    display: none;
  }

  .sql-lvl {
    display: none;
  }
  
  #btn-sql:hover .p-sql {
    display: block;
  }
  
  #btn-sql:hover .sql-lvl{
    display: block;
  }
  
  #btn-sql:hover .sql-hr{
    display: block;
  }

  
  .slider {
    width: 800px;
    height: 350px;
    position: relative;
    margin-right: 100px;
    margin-top: 50px;
    padding-top: 150px;
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.371);
    border-radius: 20px;
    color: white;
    background: -webkit-linear-gradient(to left, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #243B55, #141e3098); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }
  
  .slider-viewport {
    width: 800px;
    height: 400px;
    overflow: hidden;
  }
  
  .slider-content {
    display: grid;
    grid-auto-flow: column;
    transition: 1s all;
  }
  .slider-content .citation-card {
    width: 800px;
    height: 400px;
  }
  
  .slider-nav {
    position: absolute;
    width: 100%;
    bottom: -30px;
    margin-top: 10px;
    text-align: center;
  }
  .slider-nav a {
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
    display: inline-block;
    background-color: #adafbc;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    margin-top: 10px;
    margin: 0 3px;
  }
  .slider-nav a:hover {
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
  }
  
  #img2:target .slider-content {
    transform: translateX(-800px);
  }
  
  #img3:target .slider-content {
    transform: translateX(-1600px);
  }
  
  #img4:target .slider-content {
    transform: translateX(-2400px);
  }
  
  #img5:target .slider-content {
    transform: translateX(-3200px);
  }